{% extends "base.html" %}
{% load widget_tweaks %}
{% load common_tags %}


{% block title %}
Add product

{% endblock %}

{% block content %}

<div class="panel panel-default" xmlns="http://www.w3.org/1999/html">
    <div class="panel-body">

        <h4><span class="label label-pill  label-success ">1</span> Choose a category</h4>

        {% if selectedCategory %}
        {{selectedCategory}} <a href="/products/selectCategory/{{ selectedCategory.parentCategory.id }}"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
        {% endif %}



    </div>
</div>
</div>


<div class="panel panel-default">
    <div class="panel-body">

        <h4><span class="label label-pill  label-warning ">1</span> Information of the add</h4>

        <div class="panel-body">

         <form   class="form-horizontal" action="/products/addProduct/{{selectedCategory.id}}" method="post">
             {% csrf_token %}

             <div class="form-group required {% if form.condition.errors%} has-error {% endif %}">

                 <label  class="col-sm-2 control-label">{{form.condition.label}}</label>

                 <div class="col-sm-2">
                     <div class="row">
                         <div class="col-sm-12">
                         {{ form.condition|attr:"class:form-control" }}
                         </div>
                     </div>
                     {% errors form.condition.errors %}
                 </div>



             </div>

             <div class="form-group required {% if form.title.errors%} has-error {% endif %}">
                 <label  class="col-sm-2 control-label">{{form.title.label}}</label>

                 <div class="col-sm-10">
                     <div class="row">
                         <div class="col-sm-12">
                     {{ form.title|attr:"class:form-control"|attr:"placeholder:Add title" }}
                         </div>
                     </div>
                     {% errors form.title.errors %}
                 </div>
             </div>

             <div class="form-group {% if form.brand.errors%} has-error {% endif %}">
                 <label  class="col-sm-2 control-label">{{form.brand.label}}</label>

                 <div class="col-sm-2">
                     <div class="row">
                         <div class="col-sm-12">
                     {{ form.brand|attr:"class:form-control" }}
                             </div>
                         </div>
                     {% errors form.brand.errors %}
                 </div>
             </div>

             <div class="form-group {% if form.model.errors%} has-error {% endif %}">
                 <label  class="col-sm-2 control-label">{{form.model.label}}</label>

                 <div class="col-sm-3">
                     <div class="row">
                         <div class="col-sm-12">
                     {{ form.model|attr:"class:form-control" }}
                             </div>
                         </div>
                     {% errors form.model.errors %}
                 </div>
             </div>

             {% for feature, uiElements  in form.featureElements.items %}


             {% for uiElement in form %}

             {% if uiElement.html_name in uiElements %}
             <div class="form-group {% if uiElement.field.required  %} required {% endif %} {% if uiElement.errors%} has-error {% endif %}">
                 {% if uiElement.html_name in form.choiceElements%}
                 <label class="col-sm-2 control-label">  {{uiElement.label}}</label>
                 <div class="col-sm-6">
                     <div class="row">

                             {% for choice in uiElement.field.choices %}
                         <div class="col-sm-3">
                             <div class="checkbox">
                                 <label>
                                     <input type="checkbox" name="{{ uiElement.html_name }}" {% if choice.0 in uiElement.value %} checked="checked" {% endif %} id="id_{{ uiElement.html_name }}_{{ forloop.counter }}" value="{{choice.0}}">
                                     {{choice.1}}
                                 </label>
                             </div>
                         </div>
                             {% endfor %}

                     </div>
                       {% errors uiElement.errors %}
                 </div>
                 {% elif uiElement.html_name in form.radioElements %}
                 <label class="col-sm-2 control-label">  {{uiElement.label}}</label>
                 <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">

                         {% for choice in uiElement.field.choices %}


                                 <label class="radio-inline">
                                     <input type="radio" name="{{ uiElement.html_name }}" {% if choice.0 in uiElement.value %} checked="checked" {% endif %} id="id_{{ uiElement.html_name }}_{{ forloop.counter }}" value="{{choice.0}}">
                                     {{choice.1}}
                                 </label>


                         {% endfor %}
                         </div>
                        </div>
                     {% errors uiElement.errors %}

                 </div>
                 {% else %}

                 <label class="col-sm-2 control-label">  {{uiElement.label}}</label>
                 <div class="col-sm-2">
                     <div class="row">
                         <div class="col-sm-12">
                     {{uiElement |attr:"class:form-control"}}
                             </div>
                         </div>
                     {% errors uiElement.errors %}
                 </div>
                 {% endif %}


             </div>
             {% endif %}
             {% endfor %}

             {% endfor %}


             <div class="form-group required {% if form.description.errors%} has-error {% endif %}">
                 <label  class="col-sm-2 control-label">{{form.description.label}}</label>

                 <div class="col-sm-10">
                     <div class="row">
                         <div class="col-sm-12">
                     {{ form.description }}
                             </div>
                         </div>
                     {% errors form.description.errors %}
                 </div>
             </div>



             <div class="form-group">
                 <label  class="col-sm-2 control-label">Images</label>

                 <div class="col-sm-10">

                     <input id="upload" type="button" value="Upload" class="btn btn-primary" >
                 </div>
              </div>

             <div class="form-group">
                     <div class="container">


                         <div  id="previews" class="row">



                             <div class="col-md-2" id="template" >
                                 <div class="well">
                                     <img data-dz-thumbnail class="img-thumbnail center-block"/>
                                     <div class="text-right">
                                         <button data-dz-remove class="btn btn-sml btn-danger"> <i class="fa fa-times" aria-hidden="true"></i></button>
                                     </div>
                                 </div>

                             </div>



                         </div>

                     </div>

                 </div>

             <div class="form-group">
                 <label  class="col-sm-2 control-label">{{form.price.label}}</label>

                 <div class="col-sm-2">
                     <div class="input-group">
                         <div class="input-group-addon">Rs</div>
                         {{ form.price|attr:"class:form-control"|attr:"placeholder:Amount" }}
                     </div>
                 </div>
             </div>



             <div class="form-group">
                 <div class="col-sm-offset-2 col-sm-10">
                     <div class="checkbox">
                         <label>
                             {{ form.negotiable}}
                             {{form.negotiable.label}}
                         </label>
                     </div>
                 </div>
             </div>

             <div class="form-group">
                 <div class="col-sm-offset-2 col-sm-3">
                     <div >
                         <div class="checkbox">
                         <label>
                             {{ form.exchangeable}}
                             {{form.exchangeable.label}}
                         </label>
                             </div>
                     </div>
                 </div>
             </div>





             <div class="form-group">
                 <div class="col-sm-offset-2 col-sm-3">
                     <button type="submit" class="btn btn-primary">Save</button>
                 </div>
             </div>


         </form>



        </div>


    </div>
</div>

<script type="text/javascript">


$(document).ready(function(){


        // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
        var previewNode = document.querySelector("#template");
        previewNode.id = "";
        var previewTemplate = previewNode.parentNode.innerHTML;
        previewNode.parentNode.removeChild(previewNode);

        var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
          url: "/target-url", // Set the url
          thumbnailWidth: 240,
          thumbnailHeight: 240,
          parallelUploads: 10,
          previewTemplate: previewTemplate,
          autoQueue: false, // Make sure the files aren't queued until manually added
          previewsContainer: "#previews", // Define the container to display the previews
          clickable: "#upload" // Define the element that should be used as click trigger to select files.
        });


});



</script>



{% endblock %}