{% extends "base.html" %}
{% load widget_tweaks %}
{% load common_tags %}


{% block title %}
Add product

{% endblock %}

{% block content %}

<div class="card">
    <div class="card-block">

        <h4><span class="label label-pill  label-success ">1</span> Choose a category</h4>

        {% if selectedCategory %}
        {{selectedCategory}} <a href="/products/selectCategory/{{ selectedCategory.parentCategory.id }}"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
        {% endif %}



    </div>
</div>
</div>


<div class="card">
    <div class="card-block">

        <h4><span class="label label-pill  label-warning ">1</span> Information of the add</h4>

        <div class="panel-body">


         <form   action="/products/addProduct/{{selectedCategory.id}}/{{randomNumber}}" method="post" enctype="multipart/form-data" id="productForm">
             {% csrf_token %}

             <div class="form-group row required {% if form.condition.errors%} has-danger {% endif %}">

                 <label  class="col-sm-2 form-control-label">{{form.condition.label}}</label>

                 <div class="col-sm-2">
                     <div class="row">
                         <div class="col-sm-12">
                         {{ form.condition|attr:"class:form-control" }}
                         </div>
                     </div>
                     {% errors form.condition.errors %}
                 </div>

             </div>

             <div class="form-group row required {% if form.title.errors%} has-danger {% endif %}">
                 <label  class="col-sm-2 form-control-label">{{form.title.label}}</label>

                 <div class="col-sm-10">
                     <div class="row">
                         <div class="col-sm-12">
                     {{ form.title|attr:"class:form-control"|attr:"placeholder:Add title" }}
                         </div>
                     </div>
                     {% errors form.title.errors %}
                 </div>
             </div>

             <div class="form-group row {% if form.brand.errors%} has-danger {% endif %}">
                 <label  class="col-sm-2 form-control-label">{{form.brand.label}}</label>

                 <div class="col-sm-2">
                     <div class="row">
                         <div class="col-sm-12">
                     {{ form.brand|attr:"class:form-control" }}
                             </div>
                         </div>
                     {% errors form.brand.errors %}
                 </div>
             </div>

             <div class="form-group row {% if form.model.errors%} has-danger {% endif %}">
                 <label  class="col-sm-2 form-control-label">{{form.model.label}}</label>

                 <div class="col-sm-3">
                     <div class="row">
                         <div class="col-sm-12">
                     {{ form.model|attr:"class:form-control" }}
                             </div>
                         </div>
                     {% errors form.model.errors %}
                 </div>
             </div>

             {% for feature, uiElements  in form.featureElements.items %}


             {% for uiElement in form %}

             {% if uiElement.html_name in uiElements %}
             <div class="form-group row {% if uiElement.field.required  %} required {% endif %} {% if uiElement.errors%} has-danger {% endif %}">
                 {% if uiElement.html_name in form.choiceElements%}
                 <label class="col-sm-2 form-control-label">  {{uiElement.label}}</label>
                 <div class="col-sm-6">
                     <div class="row">

                             {% for choice in uiElement.field.choices %}
                         <div class="col-sm-3">
                             <div class="checkbox">
                                 <label>
                                     <input type="checkbox" name="{{ uiElement.html_name }}" {% if choice.0 in uiElement.value %} checked="checked" {% endif %} id="id_{{ uiElement.html_name }}_{{ forloop.counter }}" value="{{choice.0}}">
                                     {{choice.1}}
                                 </label>
                             </div>
                         </div>
                             {% endfor %}

                     </div>
                       {% errors uiElement.errors %}
                 </div>
                 {% elif uiElement.html_name in form.radioElements %}
                 <label class="col-sm-2 form-control-label">  {{uiElement.label}}</label>
                 <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">

                         {% for choice in uiElement.field.choices %}


                                 <label class="radio-inline">
                                     <input type="radio" name="{{ uiElement.html_name }}" {% if choice.0 in uiElement.value %} checked="checked" {% endif %} id="id_{{ uiElement.html_name }}_{{ forloop.counter }}" value="{{choice.0}}">
                                     {{choice.1}}
                                 </label>


                         {% endfor %}
                         </div>
                        </div>
                     {% errors uiElement.errors %}

                 </div>
                 {% else %}

                 <label class="col-sm-2 form-control-label">  {{uiElement.label}}</label>
                 <div class="col-sm-2">
                     <div class="row">
                         <div class="col-sm-12">
                     {{uiElement |attr:"class:form-control"}}
                             </div>
                         </div>
                     {% errors uiElement.errors %}
                 </div>
                 {% endif %}


             </div>
             {% endif %}
             {% endfor %}

             {% endfor %}


             <div class="form-group row required {% if form.description.errors%} has-danger {% endif %}">
                 <label  class="col-sm-2 form-control-label">{{form.description.label}}</label>

                 <div class="col-sm-10">
                     <div class="row">
                         <div class="col-sm-12">
                     {{ form.description  }}
                             </div>
                         </div>
                     {% errors form.description.errors %}
                 </div>
             </div>



             <div class="form-group row">
                 <label  class="col-sm-2 form-control-label">Images</label>

                 <div class="col-sm-2">

                     <input id="upload" type="button" value="Upload" class="btn btn-primary" >

                 </div>

                 <div class="col-sm-6 invisible" id="image-container">


                         <progress class="progress progress-striped progress-animated" id="total_progress" value="0" min="0" max="100"></progress>

                 </div>

              </div>

             <div class="form-group row">
                     <div class="container">


                         <div  id="previews" class="row">

                             <div class="card-deck-wrapper">
                                 <div class="card-deck">



                             <div class="col-md-2" id="template" >


                                 <div class="card card-inverse">
                                     <img data-dz-thumbnail class="card-img img-thumbnail" data-src="..." alt="Card image cap">
                                     <div class="card-img-overlay">

                                             <button data-dz-remove class="btn btn-sml btn-danger image-bottom"> <i class="fa fa-times" aria-hidden="true"></i></button>

                                     </div>
                                 </div>

                             </div>

                                 </div>
                                 </div>


                     </div>

                 </div>
              </div>

             <div class="form-group row">
                 <label  class="col-sm-2 form-control-label">{{form.price.label}}</label>

                 <div class="col-sm-2">
                     <div class="input-group">
                         <div class="input-group-addon">Rs</div>
                         {{ form.price|attr:"class:form-control"|attr:"placeholder:Amount" }}
                     </div>
                 </div>
             </div>



            <div class="form-group row">
                <div class="col-sm-10 col-sm-offset-2">

                    <div class="checkbox">
                        <label>
                            {{ form.negotiable}}
                            {{form.negotiable.label}}
                        </label>
                    </div>

                </div>
            </div>

             <div class="form-group row">
                 <div class="col-sm-10 col-sm-offset-2">

                         <div class="checkbox">
                         <label>
                             {{ form.exchangeable}}
                             {{form.exchangeable.label}}
                         </label>
                             </div>

                 </div>
             </div>





             <div class="form-group row">
                 <label  class="col-sm-2 form-control-label"></label>
                 <div class="col-sm-4">
                     <button type="submit" class="btn btn-primary" id="submitButton">Save</button>
                 </div>
             </div>




         </form>



        </div>


    </div>
</div>




{% endblock %}

{% block jscontent%}

<script type="text/javascript">




$(document).ready(function(){


        // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
        var previewNode = document.querySelector("#template");
        previewNode.id = "";
        var previewTemplate = previewNode.parentNode.innerHTML;
        previewNode.parentNode.removeChild(previewNode);

        var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
          url: "/products/tmpProductImages/{{randomNumber}}", // Set the url
          thumbnailWidth: 240,
          uploadMultiple: true,
          thumbnailHeight: 240,
          parallelUploads: 50,
          previewTemplate: previewTemplate,
          autoProcessQueue: true, // Make sure the files aren't queued until manually added
          previewsContainer: "#previews", // Define the container to display the previews
          clickable: "#upload", // Define the element that should be used as click trigger to select files.
          headers: { 'X-CSRFToken': $("input[name='csrfmiddlewaretoken']" ).val()},
          renameFilename: function (filename) {
            return Math.random().toString(36).substring(7) + '_' + filename;
           }
        });

         myDropzone.on("sendingmultiple", function() {
                $('#total_progress').val('0');
                $('#image-container').toggleClass('invisible');

           });


           myDropzone.on("totaluploadprogress", function(progress) {
                  $('#total_progress').val(progress);
           });

           myDropzone.on("successmultiple", function(files, response) {
             for (i = 0; i < files.length; i++) {
                        $(files[i].previewTemplate).data('server_file', response[i])
                 }
               $('#image-container').toggleClass('invisible');
           });

           myDropzone.on("removedfile", function(file) {
                var server_file = $(file.previewTemplate).data('server_file');
                $.ajax({
                    type: 'POST',
                    url: '/products/tmpProductImages/{{randomNumber}}',
                    data: { fileName: server_file },
                    success: function() {

                    },
                    headers: {
                        'X-CSRFToken': $("input[name='csrfmiddlewaretoken']" ).val(),
                        'X-METHODOVERRIDE': 'DELETE'
                        }
                });
           });



});





</script>


{% endblock %}