{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="container">


    <div class="row">
        <div class="col-sm-12">


                <div class="card card-block">
                    <form method="get" action="/products/search">
                        <div class="row">
                            <div class="col-xs-4">
                                {{ form.q|attr:"class:form-control"|attr:"placeholder:What are you looking for?" }}
                            </div>
                            <div class="col-xs-3">
                                <select class="form-control" name="{{ form.category.html_name }}" id="{{ form.category.id_for_label }}"  >
                                  <option value="" disabled  {% if not form.category.value %} selected {% endif %} hidden>Category</option>
                                    <option value="-1">All categories</option>
                                    {% for category,childCategories in categoryList.items %}

                                        <option value="{{category.0}}" {% ifequal category.0|slugify  form.category.value %} selected {% endifequal %}> {{category.1}}</option>

                                        {% if childCategories %}
                                            {% for childCategory in childCategories.keys %}
                                                <option value="{{childCategory.0}}" {% ifequal childCategory.0|slugify  form.category.value %} selected {% endifequal %}> &nbsp;&nbsp;&nbsp;{{childCategory.1}}</option>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-xs-3">
                                <select class="form-control">
                                    <option value="" disabled selected hidden>Location</option>
                                    <option>Test</option>
                                </select>
                            </div>
                            <div class="col-xs-1">

                                    <button type="submit" class="btn btn-primary">Search</button>

                            </div>
                        </div>
                    </form>
                </div>



        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="card ">
                <div class="card-header" role="tab" id="debtorHeader">
                    <h4 class="card-title">
                        <a data-toggle="collapse" href="#debtorInfo" aria-expanded="true" aria-controls="debtorInfo">
                            Debtor Info
                        </a>
                    </h4>
                </div>
                <div class="card-collapse collapse in" id="debtorInfo" role="tabpanel" aria-labelledby="debtorHeader">
                  <div class="card-block facets" >
                      {% include "product/product_search/category_list.html" with categoryTree=category_facet_category_tree childCategories=category_facet_child_categories %}
                  </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}


{% block jscontent%}


{% endblock %}
