{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="container">


    <div class="row">
        <div class="col-sm-12">


                <div class="card card-block">
                    <form method="get" action="/products/search">
                        <div class="row">
                            <div class="col-xs-4">
                                {{ form.q|attr:"class:form-control"|attr:"placeholder:What are you looking for?" }}
                            </div>
                            <div class="col-xs-3">
                                <select class="form-control" name="{{ form.category.html_name }}" id="{{ form.category.id_for_label }}"  >
                                    {% if selected_category%}
                                        <option value="{{selected_category.0}}" selected hidden>{{selected_category.1}}</option>
                                    {% else%}
                                        <option value="1" disabled  selected hidden>Category</option>
                                    {% endif %}
                                    <option value="-1">All categories</option>
                                    {% for category,childCategories in categoryList.items %}

                                        <option value="{{category.0}}" > {{category.1}}</option>

                                        {% if childCategories %}
                                            {% for childCategory in childCategories.keys %}
                                                <option value="{{childCategory.0}}" {% ifequal childCategory.0|slugify  form.category.value %} selected {% endifequal %}> &nbsp;&nbsp;&nbsp;{{childCategory.1}}</option>
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-xs-3">
                                <select class="form-control">
                                    <option value="" disabled selected hidden>Location</option>
                                    <option>Test</option>
                                </select>
                            </div>
                            <div class="col-xs-1">

                                    <button type="submit" class="btn btn-primary">Search</button>

                            </div>
                        </div>
                    </form>
                </div>



        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="card ">
                <div class="card-header" role="tab" id="debtorHeader">
                    <div class="row">
                        <div class="col-xs-8">
                            <h7 class="card-title">
                                    Categories
                            </h7>
                            {% if category_facet_hide %}<div class="card-subtitle text-muted"><small>{{selected_category.1}}</small></div>{% endif %}
                        </div>
                        <div class="col-xs-4">
                            <a class="pull-right" href="
                               {%if not category_facet_hide%}
                                    {{ request.get_full_path }}&amp;category_facet_hide=Y
                               {% else %}
                                      {{ category_facet_expand_url }}
                               {% endif %}
                               ">
                                {% if category_facet_hide %}
                                 <i class="fa fa-plus-square" aria-hidden="true"></i>
                                {% else %}
                                    <i class="fa fa-minus-square" aria-hidden="true"></i>
                                {% endif %}

                            </a>
                        </div>
                    </div>

                </div>
                 {% if not category_facet_hide%}
                  <div class="card-block facets" >
                      {% include "product/product_search/category_list.html" with categoryTree=category_facet_category_tree childCategories=category_facet_child_categories selected_category=selected_category%}
                  </div>
                  {% endif %}
            </div>

            {% include "product/product_search/variant_list.html" with variants_facets_dict=variants_facets_dict variants_facets_selected_variants_or_url_dict=variants_facets_selected_variants_or_url_dict full_request_path=request.get_full_path variants_facets_selected_variant_names=variants_facets_selected_variant_names variant_facet_hidden_facets_dict=variant_facet_hidden_facets_dict %}
        </div>
    </div>

</div>

{% endblock %}


{% block jscontent%}




{% endblock %}
