{% extends "base.html" %}

{% block title %}
Add product

{% endblock %}

{% block content %}


<div class="card">
    <div class="card-block">

        <h4><span class="label label-pill {% if noChild %} label-warning {% else %}  label-success {% endif%}">1</span> Choose a category</h4>


        {% if selectedCategory %}
        {{selectedCategory}} <a href="/products/selectCategory/{{ selectedCategory.parentCategory.id }}"> <i class="fa fa-pencil" aria-hidden="true"></i></a>
        {% endif %}





        <ul class="list-group row">
        {% for category in categoryList %}
            <li class="list-group-item col-xs-4" style="border:none"><a href="/products/selectCategory/{{ category.id }}">{{category.name}}</a> </li>
        {% endfor %}
        </ul>



    </div>
</div>

<div class="card">
    <div class="card-block">

        <h4><span class="label label-pill  label-warning ">1</span> Information of the add</h4>


</div>
</div>



{% endblock %}